ROCKETCHAT_ENDPOINT=https://chat.example.com
ROCKETCHAT_USER_ID=your-user-id
ROCKETCHAT_AUTH_TOKEN=your-meteor-login-token
WEBHOOK_ENDPOINT=https://example.com/your-webhook
IGNORE_SELF=true
IGNORE_BOTS=true
HIDE_DETAILS=false
GOTIFY_PRIORITY=5
DEBUG=false
# ROOMS=general,IT
